<div class="m-3">
  <div class="m-3">
    <!--  Structural Directive-->
    <h1 *ngIf="filteredProducts[0]" class="text-center">{{ filteredProducts[0].category.name }}</h1>
  </div>
  <div>
    <app-filter (newSearchEvent)="getProductByName($event)" (sortEvent)="sortProducts($event)" [searchOptions]="options"></app-filter>
  </div>

<!--  Structural Directive-->
  <div *ngFor="let product of filteredProducts" class="row">
    <div class="offset-md-2 col-md-8 mb-2">
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>
