<div class="m-3">
  <div class="m-4">
    <h1 class="text-center">News</h1>
  </div>
  <div class="row">
    <div class="card mb-4 offset-md-3 col-md-6 p-0" *ngFor="let article of news">
      <img [src]="article.image" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{ article.body }}</p>
        <p class="card-text"><small class="text-muted">{{ article.created_at | date: 'dd.LL.y H:mm:ss' }}</small></p>
      </div>
    </div>
  </div>
  <app-pagination (pageEvent)="changePage($event)" [paginator]="paginator"></app-pagination>
</div>
