<div class="mb-3">
  <div class="input-group mb-3">
    <button class="btn btn-dark" type="button">Apply</button>
    <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
      <option disabled hidden selected>Filtering...</option>
      <option *ngFor="let filter of filters" [value]="filter.key">{{ filter.value }}</option>
    </select>
  </div>
  <input [(ngModel)]="search" class="form-control" list="options" placeholder="Type to search...">
  <datalist id="options">
    <option *ngFor="let option of searchOptions" [value]="option">
  </datalist>
</div>
