<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">{{ product.name }}</h5>
    <div class="row">
      <div class="col-md-6 p-2">
        <img class="card-img" [src]="[product.image]" alt="">
      </div>

      <div class="col-md-6 p-2">
        <p class="card-text">{{ (product.body.length > 300) ? (product.body | slice:0:300)+'..' :(product.body) }}</p>
<!--        Attribute or Style Directives-->
          <p [ngClass]="{'text-decoration-line-through' :parseInt(product.sale) > 0,
                            'text-secondary' :parseInt(product.sale) > 0}"
          [ngStyle]="{'margin-bottom': parseInt(!(parseInt(product.sale) > 0))}">
            $ {{product.price | number:'1.2-2' | commaToSpace}}
          </p>
          <p *ngIf="parseInt(product.sale) > 0" class="text-decoration-none">
            <strong>$ {{ product.price | sale: product.sale | number:'1.2-2' | commaToSpace }}</strong>
          </p>

        <a [routerLink]="'/product/' + product.id" class="btn btn-primary">More</a>
      </div>
    </div>
  </div>
</div>
