<div class="m-3">
  <div class="m-md-5">
    <div class="m-3">
      <h1 class="text-center">News Add</h1>
    </div>
    <div class="row">
      <form action="">
        <div class="offset-md-3 col-md-6">
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control">
          </div>
          <a type="submit" [routerLink]="'/admin/news'" class="btn btn-secondary me-2">Back</a>
          <button type="submit" class="btn btn-dark">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
