<div class="m-3">
  <div class="m-3">
    <h1 class="text-center">Products</h1>
  </div>
  <div class="mt-3 mb-3 clearfix">
    <a class="float-end btn btn-dark" [routerLink]="'add'">Add Product</a>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <td>No</td>
        <td>Name</td>
        <td>Price</td>
        <td>Sale</td>
        <td>Image</td>
        <td colspan="2">Action</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.sale }}%</td>
        <td><img width="150px" height="150px" [src]="product.image" alt=""></td>
        <td><i class="fa fa-edit"></i></td>
        <td><i class="fa fa-trash"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
