<div class="my-5">
  <div class="m-3 text-center">
    <h2>Feedbacks</h2>
  </div>

  <div class="my-4" *ngIf="canComment">
    <h3>Give feedback</h3>
    <form [formGroup]="form" (submit)="sendFeedback()">
      <div class="mb-3">
        <span>
            <span *ngFor="let star of stars; let i = index">
              <i (mouseover)="hover(i)" (click)="click(i)" [class]="star"></i>
            </span>
        </span>
      </div>
      <div class="mb-3">
        <textarea formControlName="body" class="form-control"></textarea>
      </div>
      <div class="mb-3 d-flex justify-content-end">
        <button type="submit" class="btn btn-dark">Send</button>
      </div>
    </form>
  </div>

  <div class="card mb-3" *ngFor="let feedback of feedbacks">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <img [src]="feedback.user.image" class="img img-rounded img-fluid"/>
          <p class="text-secondary text-center">{{ feedback.created_at | date:'dd.LL.y' }}</p>
        </div>
        <div class="col-md-10">
          <p>
            <a class="text-primary text-decoration-underline"><strong>{{ feedback.user.name }}</strong></a>
            <span style="margin-left: 1rem;">
            <span *ngFor="let star of stars; let i = index">
              <i [ngClass]="feedback.rate >= i ? clicked : default"></i>
            </span>
          </span>
          </p>
          <div class="clearfix"></div>
          <p>{{ feedback.body }}</p>
          <p>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
