<div *ngIf="!loading" class="m-3">
  <div class="m-md-5">
    <div class="m-3">
      <h1 class="text-center">Category Add</h1>
    </div>
    <div class="row">
      <form [formGroup]="form" (submit)="onSubmit()">
        <div class="offset-md-3 col-md-6">
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input [class.is-invalid]="form.errors?.name" formControlName="name"  type="text" class="form-control">
            <span *ngIf="form.errors?.name" class="invalid-feedback"> {{ form.errors?.name }} </span>
          </div>
          <a type="submit" [routerLink]="'/admin/category'" class="btn btn-secondary me-2">Back</a>
          <button type="submit" class="btn btn-dark">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
